$sans: 'Titillium Web', sans-serif;

html {
    font-family: $sans;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 5%;
    width: 100%;
    height: 100%;
    max-width: 1024px;
}

section {
    margin: 5% 0;
}

.intro {
    margin: 0 auto;
    width: 50%;
    padding: 2.5%;
    text-align: center;
    font-size: (32 / 16) * 1rem;
}
