html{
  font-family: 'robotomedium', Arial, sans-serif;
  font-size: 100%;
}

select, input, button {
  font-family: 'robotomedium', Arial, sans-serif;
  font-size: 0.8rem;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  user-select: none;
}

button {
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(37.5vw);
  }
}

@keyframes fadein-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-37.5vw);
  }
}

@keyframes fadein-bottom-left {
  from {
    transform: translateX(0) translateY(0);
  }

  to {
    transform: translateX(45vw) translateY(-55vh);
  }
}

@keyframes fadein-bottom-right {
  from {
    transform: translateX(0) translateY(0);
  }

  to {
    transform: translateX(-45vw) translateY(-55vh);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.001);
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}