button {
    z-index: 1;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    display: block;
    padding: 0;
    border-radius: 0.3rem;
    margin: 0.3rem auto;
    box-shadow: 0 3px 0 #590000, 0 5px 1px rgba(0, 0, 0, .1);
    transition: box-shadow .2s ease-in-out;

    &:hover {
        box-shadow: 0 3px 0 #590000, 0 4px 0 rgba(0, 0, 0, .1);

        .button-text {
            transform: translate(0, 2px);
        }
    }

    .button-text {
        display: inline-block;
        color: wheat;
        padding: 0.65rem 3rem;
        line-height: 1;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .3);
        background: #7B0000;
        border-radius: 5px;
        box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
    }
}
