.setButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: darkred;
  width: 8.5%;
  color: wheat;
  text-align: center;
  padding: 0.15rem;
  cursor: pointer;
}

.time {
  position: fixed;
  top: 0;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  z-index: 2;
  background: darkred;
  width: 15%;
  color: wheat;
  text-align: center;
  padding: 0.15rem;
}

#d3-bg {
  background: transparent url(/assets/images/bg-3.jpg) center center/ cover no-repeat;
  animation: bg 4s linear forwards;
  animation-delay: 500ms;
  position: absolute;
  height: 120%;
  width: 100%;
}

@keyframes bg {
  from {
    filter: unquote('brightness(0)');
    transform: translateY(-10%) scale(1);
  }

  50% {
    filter: unquote('brightness(1)');
    transform: translateY(-5%) scale(1.01);
  }

  to {
    filter: unquote('brightness(0.25)');
    transform: translateY(0) scale(1);
  }
}

.d3-api-url {
  width: 17.5%;
  z-index: 6;
  position: fixed;
  bottom: 3.5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  span {
    color: wheat;
    display: block;
  }

  input {
    margin-top: 0.25rem;
    background: black;
    color: wheat;
    outline: none;
    border: 2px solid darkred;
    text-align: center;
  }
}

.d3-char-wrapper {
  z-index: 5;
  height: 15vh;
  width: 17.5%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -1.5vh;
  transform: translateX(-50%);

  span {
    color: wheat;
    display: block;
  }

  select {
    margin-top: 0.25rem;
    cursor: pointer;
    background: black;
    width: 90%;
    border: 2px solid darkred;
    color: wheat;
    outline: none;
  }
}

.icon {
  position: absolute;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.icon-front,
.icon-back {
  position: absolute;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 0, 0, 0.5);
  transition: opacity 0.5s;
}

.icon-front:not(.no-rune) {
  z-index: 2;
  opacity: 1;

  &:before {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    width: 125%;
    height: 125%;
    border: ((10 / 16) * 1rem) solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 ((40 / 16) * 1rem) rgba(255, 255, 255, 0.3);
    pointer-events: none;
    transform: scale(0.001);
    animation-name: pulse;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }

  &:hover:not(.no-rune) {
    transition: opacity 0.5s;
    opacity: 0.1;

    &:before {
      animation-name: pulse;
      animation-duration: 2500ms;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-timing-function: ease-out;
      display: none;
    }
  }

  &:hover:not(.no-rune) ~ .icon-back {
    transition: opacity 0.5s;
    opacity: 1;
  }
}

.skill-desc,
.rune-desc,
.passive-desc {
  flex: 1 100%;
  padding-left: (46px + 5px);
  color: burlywood;
  margin: 5px 0;
}

.rune-desc {
  color: wheat;
}

.icon-back {
  background: url('/assets/images/runes.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  backface-visibility: hidden;
  opacity: 0;
}

.d3-char-bg {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateZ(0);
  margin: 7.5vh auto;
  width: 405px;
  height: 615px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(1px 1px 30px white);
  transition: background-image 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.d3-paragon-selector {

  span {
    display: block;
  }
}

.paragon-stat {
  margin: 0.25rem;
  text-align: center;
  width: 6.1vw;
  display: inline-block;
  font-size: 0.85rem;

  .paragon-stat-increment {
    float: left;
  }

  .paragon-stat-decrement {
    float: right;
  }

  .paragon-stat-max {
    &:after {
      content: 'max';
      position: relative;
    }
    &.maxed {
      &:after {
        content: 'clear';
        position: relative;
      }
    }
  }

  span {
    background: sienna;
    display: inline-block;
    margin-bottom: 0.25rem;
    color: black;
    border-radius: 5px;
  }

  span:first-child {
    width: 100%;
  }

  span:not(:first-child) {
    width: 31%;
    cursor: pointer;

    &:hover {
      color: wheat;
    }
  }
}

.d3-item-wrapper {
  z-index: 3;
  margin: 0 auto;
  position: relative;
  width: 405px;
  height: 750px;

  & > div {
    text-transform: capitalize;
    position: absolute;
    border-radius: 7px;
    background-size: 64px auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    transition: width 1s, height 1s, background-color 0.5s, -webkit-filter 0.5s;
    width: 64px;
    height: 128px;
    color: rgba(255, 0, 0, 1);
    cursor: pointer;

    &:after {
      opacity: 0;
      content: 'x';
      visibility: hidden;
      cursor: pointer;
    }

    & .desc {
      opacity: 0;
      visibility: hidden;
    }

    &.unique {
      filter: drop-shadow(0px 0px 5px darkorange);
      border: 1px solid darkorange;

      &:hover {
        filter: drop-shadow(0px 0px 20px darkorange);
      }

      &.ancient {
        border: 1px solid #b8860b;
      }
    }

    &.set {
      filter: drop-shadow(0px 0px 5px green);
      border: 1px solid green;

      &:hover {
        filter: drop-shadow(0px 0px 20px green);
      }

      &.ancient {
        border: 1px solid #b8860b;
      }
    }

    &.magic {
      filter: drop-shadow(0px 0px 5px blue);
      border: 1px solid blue;

      &:hover {
        filter: drop-shadow(0px 0px 20px blue);
      }
    }

    &.rare {
      filter: drop-shadow(0px 0px 5px yellow);
      border: 1px solid yellow;

      &:hover {
        filter: drop-shadow(0px 0px 20px yellow);
      }
    }

    &.white {
      filter: drop-shadow(0px 0px 5px white);
      border: 1px solid white;

      &:hover {
        filter: drop-shadow(0px 0px 20px white);
      }
    }

    &.common {
      filter: drop-shadow(0px 0px 5px grey);
      border: 1px solid grey;

      &:hover {
        filter: drop-shadow(0px 0px 20px grey);
      }
    }

    &.open {
      z-index: 1;
      transition: width 1s, height 1s, background-color 0.5s;
      width: 450px;
      height: 450px;
      filter: drop-shadow(0px 0px 5px black);
      background-color: rgba(0, 0, 0, 0.85);
      cursor: default;

      &:after {
        content: 'x';
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        color: white;
        background: black;
        border: 1px solid white;
        width: 30px;
        height: 30px;
        right: -1px;
        top: -1px;
        visibility: visible;
        animation: fade 1.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }

      & .desc {
        visibility: visible;
        animation: fade 1.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
    }

    & > div {
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 75%;
      height: 100%;

      & > ul {
        top: 50%;
        height: 100%;
        position: absolute;
        transform: translateY(-50%);
        font-size: 12px;
        padding: 0;
        margin: 3% 1.5%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;

        li {
          margin: 0.2rem;
          display: inline-block;
        }

        .primary {
          color: white;
          font-size: 14px;
          width: 100%;
        }

        .secondary {
          color: silver;
          width: 100%;
        }

        .passive {
          color: goldenrod;
          width: 100%;
        }

        .set-bonus-2,
        .set-bonus-3,
        .set-bonus-4,
        .set-bonus-5,
        .set-bonus-6 {
          flex: 1 100%;
          color: green;
        }

        .set-bonus-2 {
          &:before {
            content: '[ 2 ] ';
          }
        }

        .set-bonus-3 {
          &:before {
            content: '[ 3 ] ';
          }
        }

        .set-bonus-4 {
          &:before {
            content: '[ 4 ] ';
          }
        }

        .set-bonus-5 {
          &:before {
            content: '[ 5 ] ';
          }
        }

        .set-bonus-6 {
          &:before {
            content: '[ 6 ] ';
          }
        }

        .dps {
          font-size: 16px;
          color: white;
          flex: 0 100%;
        }

        .raw-damage {
          font-size: 15px;
          color: white;
          flex: 0 100%;
        }

        .name {
          font-size: 18px;
          flex: 0 90%;

          &.set {
            color: green;
          }

          &.unique {
            color: darkorange;
          }

          &.magic {
            color: blue;
          }

          &.rare {
            color: yellow;
          }

          &.common {
            color: grey;
          }

          &.white {
            color: white;
          }
        }

        .gem-level {
          top: -15%;
          left: 85%;
          background: goldenrod;
          color: black;
          border-radius: 50%;
          padding: 5%;
          position: absolute;
        }

        .gem-passive {
          color: goldenrod;
          flex: 0 80%;
        }

        .socket {
          height: 38px;
          filter: drop-shadow(0px 0px 2px white);
          background-size: 32px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: 38px;
          border: 2px solid white;
          border-radius: 30%;
          position: relative;
        }
      }
    }
  }

  .head {
    left: 50%;
    top: 4.5%;
    transform: translateX(-50%);
  }

  .torso {
    left: 50%;
    top: 22.5%;
    transform: translateX(-50%);
  }

  .legs {
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
  }

  .feet {
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }

  .hands {
    left: 0;
    top: 45%;
  }

  .bracers {
    right: 0;
    top: 30%;
  }

  .shoulders {
    left: 10%;
    top: 25%;
  }

  .neck {
    right: 15%;
    top: 10%;
  }

  .leftFinger {
    left: 22.5%;
    top: 45%;
  }

  .rightFinger {
    right: 22.5%;
    top: 45%;
  }

  .waist {
    top: 41.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mainHand {
    bottom: 10%;
    left: 10%;
  }

  .offHand {
    bottom: 10%;
    right: 10%;
  }
}

#panel-left > div:not(.hasIcon),
#panel-right > div:not(.hasIcon) {
  padding: 0.75vh;
  margin-bottom: 1.5vh;
  position: relative;
  border-radius: 7px;
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 0 1px darkred;
}

#panel-right-additional > div {
  padding: 0;
  margin-bottom: 0;
}

.hasIcon {
  background: rgba(0, 0, 0, 1);
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  margin-bottom: 1.5vh;
  position: relative;
  box-shadow: inset 0 0 0 1px darkred;
}

.description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 5;
  margin: 10px 0;
  font-size: 0.8rem;

  span {
    color: wheat;
    font-size: 1.2rem;
  }
}

.desc-icon {
  margin-right: 5px;
  flex: 0 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
}

#panel-left,
#panel-right,
#panel-bottom-left,
#panel-bottom-right,
#panel-right-additional {
  position: fixed;
  background: rgba(255, 0, 0, 0.25);
  color: sienna;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 7px;
  padding: 1.5vh;
  // filter seems to have a horrible performance when combined with different filters in animations
  // filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.65));
  transform: translateZ(0);
  backface-visibility: hidden;

  & > span {
    color: wheat;
    display: block;
    margin: 0.35vh 0;
    width: 100%;
    height: 5%;
  }
}

#panel-bottom-left-desc {
  width: 64vw;
}

#panel-bottom-right-desc {
  width: 32.5vw;
}

#panel-bottom-left-desc,
#panel-bottom-right-desc {
  cursor: pointer;
  z-index: 10;
  position: fixed;
  height: 100%;
  bottom: -103vh;
  font-size: 10px;
  padding: 1.5vh;
  background: rgba(0, 0, 0, 0.85);
  backface-visibility: hidden;
  transition: transform 0.5s;
  box-shadow: inset 0 0 5px 1px rgba(255, 0, 0, 0.65);
  //    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.65));

  span {
    color: wheat;
    font-size: 1.2rem;
  }
}

#panel-bottom-left-desc {
  left: 0;
}

#panel-bottom-right-desc {
  right: 0;
}

#panel-right-additional {
  font-size: 1.05rem;
  filter: none;
  right: -55vw;
  height: auto;
  box-shadow: inset 0 0 1px 1px darkred;
  top: 1.5vh;
  width: 35vw;
  text-align: left;
  background: rgba(0, 0, 0, 1);
  transform: translateZ(0);
  transition: transform 0.75s;
}

#panel-left,
#panel-right {
  height: 40vh;
  top: 1.5vh;
  width: 35vw;
}

#panel-left {
  left: -40vw;
  animation-name: fadein-left;
  text-align: right;
}

#panel-right {
  right: -40vw;
  animation-name: fadein-right;
  text-align: left;
  cursor: pointer;

  &:after {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
    content: 'More Stats';
    position: absolute;
    bottom: -7.5%;
    color: wheat;
    left: 0;
    padding: 5px;
    border-radius: 7px;
  }

  &.open ~ #panel-right-additional {
    transform: translateX(-37.5vw) translateZ(0);
    transition: transform 0.5s;
  }

  &.open {
    &:after {
      content: 'Close';
    }
  }
}

#panel-bottom-left {
  cursor: pointer;
  text-align: right;
  height: 45vh;
  width: 45%;
  bottom: -55vh;
  left: -60vw;
  animation-name: fadein-bottom-left;

  &:before {
    content: 'Details';
    position: absolute;
    top: -7.5%;
    color: wheat;
    right: 0;
    padding: 5px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
  }

  .icon-front,
  .icon-back,
  .icon {
    right: -5px;
  }

  & > div {
    padding-right: 70px;
  }

  &.open ~ #panel-bottom-left-desc {
    transform: translateY(-100vh) translateZ(0);
    transition: transform 1s;
  }
}

#panel-bottom-right {
  cursor: pointer;
  height: 45vh;
  width: 45%;
  bottom: -55vh;
  right: -60vw;
  animation-name: fadein-bottom-right;

  &:before {
    content: 'Details';
    position: absolute;
    top: -7.5%;
    color: wheat;
    left: 0;
    padding: 5px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
  }

  .icon-front,
  .icon-back,
  .icon {
    left: -5px;
  }

  & > div {
    padding-left: 70px;
  }

  &.open ~ #panel-bottom-right-desc {
    transform: translateY(-100vh) translateZ(0);
    transition: transform 1s;
  }
}

@keyframes fadein-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(37.5vw);
  }
}

@keyframes fadein-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-37.5vw);
  }
}

@keyframes fadein-bottom-left {
  from {
    transform: translateX(0) translateY(0);
  }

  to {
    transform: translateX(45vw) translateY(-55vh);
  }
}

@keyframes fadein-bottom-right {
  from {
    transform: translateX(0) translateY(0);
  }

  to {
    transform: translateX(-45vw) translateY(-55vh);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.001);
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
