.d3 {
  background: white;
  user-select: none;
  font-weight: 600;
  font: $sans;
  overflow: hidden;
}

.d3-api-url {
  padding: 2.5%;
  z-index: 3;
  border-radius: 40px;
  background: black;
  color: white;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes clip {
  from {

  }
  to {

  }
}

.d3-api-url:hover {
  animation: clip 5s infinite;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: lightgrey;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
.d3-char-bg {
  position: relative;
  margin: 7.5vh auto;
  width: 405px;
  height: 615px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation: fadeIn 3s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  will-change: animation;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-center {
  border-radius: 7px;
  padding: 0.5vh 2.5vw;
  background: grey;
  position: fixed;
  top: 0;
  font-size: (32 / 16) * 1rem;
  left: 50%;
  will-change: animation;
  animation: fromTop 1s;
  animation-fill-mode: forwards;
}

.header-left,
.header-right,
.header-bottom-left,
.header-bottom-right {
  position: fixed;
  background: grey;
  color: black;
  z-index: 1;
  font-size: (20 / 16) * 1rem;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 7px;
  padding: 1.5vh;
}
.header-left,
.header-right {
  height: 40vh;
  top: 1.5vh;
  width: 35vw;
}

.header-right,
.stats li {
  animation-name: fadein-right;
  box-shadow: -3px 3px 3px 0 dimgrey;
  text-align: left;
}

.base,
.skills,
.passives,
.stats {
  position: fixed;
  color: black;
  z-index: 2;
  border-radius: 7px;
  padding: 1.5vh;
}

.header-left,
.base {
  box-shadow: 3px 3px 3px 0 dimgrey;
  animation-name: fadein-left;
  text-align: right;
}

.base {
  top: 7.5vh;
  width: 31.5vw;
  left: -35%;
  @for $i from 1 through 10 {
    li:nth-of-type(#{$i}) {
      animation-name: fadein-left;
      animation-delay: $i * 1s + 4s;
      margin-bottom: 2.5vh;
      text-align: right;
      background: lightgrey;
      padding: 1.5vh;
      border-radius: (7 / 16) * 1rem;
    }
  }
}

.header-left {
  left: -40vw;
}

.header-right {
  right: -40vw;
}
.header-bottom-left {
  box-shadow: 3px 3px 3px 0 dimgrey;
  text-align: right;
  height: 45vh;
  width: 45%;
  bottom: -50%;
  left: -50%;
  animation-name: fadein-bottom-left;
}

.header-bottom-right {
  box-shadow: -3px 3px 3px 0 dimgrey;
  height: 45vh;
  width: 45%;
  bottom: -50%;
  right: -50%;
  animation-name: fadein-bottom-right;
}

@for $i from 1 through 10 {
  .d3-wrapper .base:nth-of-type(#{$i}) {
    top: 7.5vh * $i;
    animation-delay: $i * 1s + 4s;
  }
}

@for $i from 1 through 10 {
  .passives,
  .skills {
    li:nth-of-type(#{$i}) {
      animation-delay: $i * 1s + 4s;
    }
  }
}

.skills,
.passives {
  width: 37.5vw;
  height: 35vh;
  bottom: -45%;

  li {
    background: lightgrey;
    margin-bottom: 1.25vh;
    padding: 1.5vh;
    border-radius: 7px;
  }
}

.base {
  li {
    animation-name: fadein-bottom-left;
    text-align: right;
    box-shadow: 3px 3px 3px 0 dimgrey;
  }
}

.skills {
  left: -45%;
  li {
    animation-name: fadein-bottom-left;
    text-align: right;
    box-shadow: 3px 3px 3px 0 dimgrey;
  }
}

.passives {
  right: -45%;
  li {
    animation-name: fadein-bottom-right;
    text-align: left;
    box-shadow: -3px 3px 3px 0 dimgrey;
  }
}

.stats {
  top: 7.5vh;
  width: 31.5vw;
  right: -35%;
  @for $i from 1 through 10 {
    li:nth-of-type(#{$i}) {
      animation-name: fadein-right;
      animation-delay: $i * 1s + 4s;
      margin-bottom: 2.5vh;
      text-align: left;
      background: lightgrey;
      padding: 1.5vh;
      border-radius: (7 / 16) * 1rem;
    }
  }
}

@keyframes fadein-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes fadein-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fadein-bottom-left {
  from {
    transform: translateX(0) translateY(0) rotate(-20deg);
  }

  to {
    transform: translateX(40vw) translateY(-40vh) rotate(-20deg);
  }
}

@keyframes fadein-bottom-right {
  from {
    transform: translateX(0) translateY(0) rotate(20deg);
  }

  to {
    transform: translateX(-40vw) translateY(-40vh) rotate(20deg);
  }
}

@keyframes fromTop {
  from {
    transform: translateX(-50%) translateY(0);
  }

  to {
    transform:  translateX(-50%) translateY(1.5vh);
  }
}