footer {
    position: absolute;
    bottom: rem(5);
    left: 50%;
    font-size: 0.8rem;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 rem(20);
    text-align: center;

    small {
        color: wheat;
    }
}
