.d3-items-container {
    & img {
        height: auto;
        overflow: visible;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .item-wrapper {
        position: absolute;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.5s, -webkit-filter 0.5s, filter 0.5s;
        color: rgba(255, 0, 0, 1);
        cursor: pointer;
        font-size: 0.8rem;

        &.unique {
            filter: drop-shadow(0px 0px 5px darkorange);
            border: 1px solid darkorange;

            &:hover {
                filter: drop-shadow(0px 0px 20px darkorange);
            }

            &.ancient {
                border: 1px solid #b8860b;
            }
        }

        &.set {
            filter: drop-shadow(0px 0px 5px green);
            border: 1px solid green;

            &:hover {
                filter: drop-shadow(0px 0px 20px green);
            }

            &.ancient {
                border: 1px solid #b8860b;
            }
        }

        &.magic {
            filter: drop-shadow(0px 0px 5px blue);
            border: 1px solid blue;

            &:hover {
                filter: drop-shadow(0px 0px 20px blue);
            }
        }

        &.rare {
            filter: drop-shadow(0px 0px 5px yellow);
            border: 1px solid yellow;

            &:hover {
                filter: drop-shadow(0px 0px 20px yellow);
            }
        }

        &.white {
            filter: drop-shadow(0px 0px 5px white);
            border: 1px solid white;

            &:hover {
                filter: drop-shadow(0px 0px 20px white);
            }
        }

        &.common {
            filter: drop-shadow(0px 0px 5px grey);
            border: 1px solid grey;

            &:hover {
                filter: drop-shadow(0px 0px 20px grey);
            }
        }
    }

    .head,
    .legs,
    .hands,
    .feet,
    .shoulders,
    .mainHand,
    .offHand,
    .bracers {
        width: 66px;
    }

    .feet,
    .hands,
    .bracers,
    .legs,
    .shoulders {
        height: 86px;
    }

    .head,
    .torso,
    .legs,
    .feet,
    .waist {
        transform: translateX(-50%);
        left: 50%;
    }

    .leftFinger,
    .rightFinger {
        top: 226px;
        width: 40px;
        height: 40px;
    }

    .torso,
    .waist {
        width: 80px;
    }

    .mainHand,
    .offHand {
        top: 280px;
        height: 130px;
    }

    .head {
        top: 3px;
        height: 66px;
    }

    .torso {
        top: 72px;
        height: 114px;
    }

    .legs {
        top: 230px;
    }

    .feet {
        top: 322px;
    }

    .hands {
        left: 3px;
        top: 126px;
    }

    .bracers {
        right: 3px;
        top: 126px;
    }

    .shoulders {
        left: 28px;
        top: 26px;
    }

    .neck {
        right: 36px;
        top: 46px;
        width: 56px;
        height: 56px;
    }

    .leftFinger {
        left: 15px;
    }

    .rightFinger {
        right: 15px;
    }

    .waist {
        top: 192px;
        height: 32px;
    }

    .mainHand {
        left: 3px;

    }

    .offHand {
        right: 3px;
    }
}
