#panel-left,
#panel-right,
#panel-bottom-left,
#panel-bottom-right,
#panel-right-additional {
  position: fixed;
  background: rgba(255, 0, 0, 0.25);
  color: sienna;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 7px;
  padding: 1.5vh;
  // filter seems to have a horrible performance when combined with different filters in animations
  // filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.65));
  transform: translateZ(0);
  backface-visibility: hidden;

  & > span {
    color: wheat;
    display: block;
    margin: 0.35vh 0;
    width: 100%;
    height: 5%;
  }
}

#panel-bottom-left-desc {
  width: 64vw;
}

#panel-bottom-right-desc {
  width: 32.5vw;
}

#panel-bottom-left-desc,
#panel-bottom-right-desc {
  z-index: 10;
  position: fixed;
  height: 100%;
  bottom: -103vh;
  font-size: 10px;
  padding: 1.5vh;
  background: rgba(0, 0, 0, 0.85);
  backface-visibility: hidden;
  transition: transform 0.5s;
  box-shadow: inset 0 0 5px 1px rgba(255, 0, 0, 0.65);
  //    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.65));

  .skill-desc,
  .rune-desc,
  .passive-desc {
    flex: 1 100%;
    padding-left: (46px + 5px);
    color: burlywood;
    margin: 5px 0;
  }

  .rune-desc {
    color: wheat;
  }

  .desc-icon {
    margin-right: 5px;
    flex: 0 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  button {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
    position: absolute;
    top: 1.5%;
    color: wheat;
    right: 1.5%;
    padding: 5px;
    border-radius: 7px;
  }

  &> span {
    display: inline-block;
    position: absolute;
    bottom: 5vh;
    left: 2vw;
  }

  span {
    color: wheat;
    font-size: 1rem;
  }
}

#panel-bottom-left-desc {
  left: 0;
}

#panel-bottom-right-desc {
  right: 0;
}

#panel-right-additional {
  font-size: 1.05rem;
  filter: none;
  right: -55vw;
  height: auto;
  box-shadow: inset 0 0 1px 1px darkred;
  top: 1.5vh;
  width: 35vw;
  text-align: left;
  background: rgba(0, 0, 0, 1);
  transform: translateZ(0);
  transition: transform 0.75s;
}

#panel-left,
#panel-right {
  height: 40vh;
  top: 1.5vh;
  width: 35vw;
}

#panel-left {
  text-align: right;
  left: -40vw;
}

#panel-left.visible {
  animation-name: fadein-left;
}

#panel-right.visible {
  animation-name: fadein-right;
}

#panel-right {
  right: -40vw;
  text-align: left;

  button {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
    position: absolute;
    bottom: -7.5%;
    color: wheat;
    left: 0;
    padding: 5px;
    border-radius: 7px;
  }

  &.less ~ #panel-right-additional {
    transform: translateX(-36.5vw) translateZ(0);
    transition: transform 0.5s;
  }
}

#panel-bottom-left.visible {
  animation-name: fadein-bottom-left;
}

#panel-bottom-left {
  text-align: right;
  height: 45vh;
  width: 45%;
  bottom: -55vh;
  left: -60vw;

  button {
    position: absolute;
    top: -7.5%;
    color: wheat;
    right: 0;
    padding: 5px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
  }

  .icon-front,
  .icon-back,
  .icon {
    right: -5px;
  }

  & > div {
    padding-right: 70px;
  }

  &.open ~ #panel-bottom-left-desc {
    transform: translateY(-100vh) translateZ(0);
    transition: transform 1s;
  }
}

#panel-bottom-right.visible {
  animation-name: fadein-bottom-right;
}

#panel-bottom-right {
  height: 45vh;
  width: 45%;
  bottom: -55vh;
  right: -60vw;

  button {
    position: absolute;
    top: -7.5%;
    color: wheat;
    left: 0;
    padding: 5px;
    border-radius: 7px;
    background: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px darkred;
  }

  .icon-front,
  .icon-back,
  .icon {
    left: -5px;
  }

  & > div {
    padding-left: 70px;
  }

  &.open ~ #panel-bottom-right-desc {
    transform: translateY(-100vh) translateZ(0);
    transition: transform 1s;
  }
}

#panel-left > div:not(.d3-paragon-selector),
#panel-right > div {
  animation: fader 2s both linear;
  padding: 0.75vh;
  margin-bottom: 1.5vh;
  position: relative;
  border-radius: 7px;
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 0 1px darkred;
}

#panel-right-additional > div {
  animation: fader 2s both linear;
  padding: 0;
  margin-bottom: 0;
}