.icon {
  position: absolute;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.icon-front,
.icon-back {
  position: absolute;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 0, 0, 0.5);
  transition: opacity 0.5s;
}

.icon-front:not(.no-rune) {
  z-index: 2;
  opacity: 1;

  &:before {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    width: 125%;
    height: 125%;
    border: ((10 / 16) * 1rem) solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 ((40 / 16) * 1rem) rgba(255, 255, 255, 0.3);
    pointer-events: none;
    transform: scale(0.001);
    animation-name: pulse;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }

  &:hover:not(.no-rune) {
    transition: opacity 0.5s;
    opacity: 0.1;

    &:before {
      animation-name: pulse;
      animation-duration: 2500ms;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-timing-function: ease-out;
      display: none;
    }
  }

  &:hover:not(.no-rune) ~ .icon-back {
    transition: opacity 0.5s;
    opacity: 1;
  }
}

.icon-back {
  background: url('/assets/images/runes.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  backface-visibility: hidden;
  opacity: 0;
}

.hasIcon {
  animation: fader 2s both linear;
  background: rgba(0, 0, 0, 1);
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  margin-bottom: 1.5vh;
  position: relative;
  box-shadow: inset 0 0 0 1px darkred;
}

.description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 5;
  margin: 10px 0;
  font-size: 0.8rem;

  span {
    color: wheat;
    font-size: 1.2rem;
  }
}